*.apk
*.aab
*.ap_
*.aar
*.dex
*.class

bin/
gen/
out/
release/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea/

*.jks
*.keystore
keystore.properties
keystore-credentials.txt

.cxx/

google-services.json

vcs.xml

.DS_Store
Thumbs.db
